{% extends 'top.html' %}


{% block title %} Update Product {% endblock %}

{%block address %}
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'index' %}">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Add Product</li>
  </ol>
{% endblock %}

{%block content%}
{{prodict}}
<div class="card-body">
    <div class="menu-upload-form">
        <form method="post" class="form-horizontal" enctype="multipart/form-data">                       
          {% csrf_token %}
          
        <input type="text" name="pid"> <button type="submit" value="btn_search" name="btn_search" >Search</button><br>
        <div class="form-group">
            <label class="col-sm-2 control-label">Product Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Product Name" name="product_name" value="{{product_name}}" >
            </div>
        </div>  

        <div class="form-group">
                <label class="col-sm-2 control-label">Add Image</label>
                <div class="col-sm-10">
                    <div class="form-control">
                        <label for="inputFile-2">
                                    <span class="btn btn-danger dark-input-button">
                                        <input type="file" name="file_name" value="{{image}}" >
                                        <i class="fa fa-file-archive-o"></i>
                                    </span>
                        </label>
                        <input class="file-name input-flat" type="text" readonly="readonly" placeholder="Browse Files" name="image_name">
                    </div>
                </div>
            </div>
     
        <input type="text" name="pid_store" value="{{pid}}" hidden> 
        <div class="form-group">
            <label class="col-sm-2 control-label">Category</label>
            <div class="col-sm-10">
             <select name="category" class="form-control">
                    <option value="">{{category}}</option>
                    {% for i in cat%}
                    <option value="{{i.name}}">{{i.name}}</option>
                    {% endfor %}
            </select>
            </div>
        </div><!-- Selection End -->

        
        <div class="form-group">
            <label class="col-sm-2 control-label">Product Descriptions</label>
            <div class="col-sm-10">
                <textarea class="form-control" rows="3" placeholder="Add Descriptions..." name="product_details">{{description}}</textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-lg btn-primary" name="btn_update">Update</button>
            </div>
        </div>
    </form>
    </div>
</div>
{%endblock%}